In [1]:
import pandas as pd

In [4]:
df_movies = pd.read_csv("ml-latest-small/movies.csv")
df_ratings = pd.read_csv('ml-latest-small/ratings.csv')
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
df_ratings.shape

(100836, 4)

In [9]:
# Agrupando por nota média por filme
nota_media_por_filme = df_ratings.groupby(by='movieId')['rating'].mean()
nota_media_por_filme.head()

movieId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: rating, dtype: float64

Quais os filmes que não tiveram avaliação?

In [12]:
filmes_com_media = df_movies.join(nota_media_por_filme, on="movieId")
filmes_com_media.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429

In [15]:
# Ordernar
filmes_com_media.sort_values(by="rating", ascending=False)

,movieId,title,genres,rating
7656,88448,Paper Birds (Pájaros de papel) (2010),Comedy|Drama,5.0
8107,100556,"Act of Killing, The (2012)",Documentary,5.0
9083,143031,Jump In! (2007),Comedy|Drama|Romance,5.0
9094,143511,Human (2015),Documentary,5.0
9096,143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,5.0
4251,6201,Lady Jane (1986),Drama|Romance,5.0
8154,102217,Bill Hicks: Revelations (1993),Comedy,5.0
8148,102084,Justice League: Doom (2012),Action|Animation|Fantasy,5.0
4246,6192,Open Hearts (Elsker dig for evigt) (2002),Romance,5.0
9122,145994,Formula of Love (1984),Comedy,5.0
8115,100906,Maniac Cop 2 (1990),Action|Horror|Thriller,5.0
9129,146662,Dragons: Gift of the Night Fury (2011),Adventure|Animation|Comedy,5.0
8074,99636,English Vinglish (2012),Comedy|Drama,5.0
5785,31522,"Marriage of Maria Braun, The (Ehe der Maria Br...",Drama,5.0
9131,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy,5.0

### Mudar o nome da coluna rating por média após o join

In [18]:
filmes_com_media = df_movies.join(nota_media_por_filme, on="movieId").rename(columns={'rating': "media"})
filmes_com_media.head()

,movieId,title,genres,media
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429

### arredondar média para 2 casas decimais

In [19]:
filmes_com_media['media'] = filmes_com_media['media'].round(2)
filmes_com_media.head()

,movieId,title,genres,media
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.92
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.43
2,3,Grumpier Old Men (1995),Comedy|Romance,3.26
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.36
4,5,Father of the Bride Part II (1995),Comedy,3.07

### o número de avaliação por filme

In [30]:
numero_avaliacao_por_filme = df_ratings['movieId'].value_counts().rename_axis('movieId')
numero_avaliacao_por_filme

movieId
356       329
318       317
296       307
593       279
2571      278
         ...
5986        1
100304      1
34800       1
83976       1
8196        1
Name: movieId, Length: 9724, dtype: int64

In [48]:
# Fazendo join da tabela de filmes com a quantidade de votos
filmes_com_media_e_qtd_avaliacao = filmes_com_media.join(numero_avaliacao_por_filme, on='movieId', how='left', lsuffix='_left', rsuffix='_right')
# Renomeando a nova coluna
filmes_com_media_e_qtd_avaliacao.rename(columns={'movieId_right': 'qtd_votos'}, inplace=True)
# Mudando valores nulos de qtd_votos e media para 0
filmes_com_media_e_qtd_avaliacao = filmes_com_media_e_qtd_avaliacao.fillna(0)
# Mudando os tipo de dados da quantidade de votos para int
filmes_com_media_e_qtd_avaliacao['qtd_votos'] = filmes_com_media_e_qtd_avaliacao['qtd_votos'].astype(int) 
filmes_com_media_e_qtd_avaliacao.head()

,movieId_left,title,genres,media,qtd_votos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.92,215
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.43,110
2,3,Grumpier Old Men (1995),Comedy|Romance,3.26,52
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.36,7
4,5,Father of the Bride Part II (1995),Comedy,3.07,49

### quantos generos únicos.

In [65]:
filmes_com_media_e_qtd_avaliacao['genres'].str.get_dummies()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
# Listando quantidade de generos únicos
generos = filmes_com_media_e_qtd_avaliacao['genres'].str.get_dummies()
len(generos.columns)

20

### value counts no genero

In [70]:
# merge filmes com genero
filmes_generos = pd.concat([filmes_com_media_e_qtd_avaliacao, generos], axis=1)
filmes_generos.head()

,movieId_left,title,genres,media,qtd_votos,(no genres listed),Action,Adventure,Animation,Children,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.92,215,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.43,110,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,3.26,52,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.36,7,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,3.07,49,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
data = list()
for gen in generos:
    data.append({gen: filmes_generos[gen].sum() })

data

{'(no genres listed)': 34,
 'Action': 1828,
 'Adventure': 1263,
 'Animation': 611,
 'Children': 664,
 'Comedy': 3756,
 'Crime': 1199,
 'Documentary': 440,
 'Drama': 4361,
 'Fantasy': 779,
 'Film-Noir': 87,
 'Horror': 978,
 'IMAX': 158,
 'Musical': 334,
 'Mystery': 573,
 'Romance': 1596,
 'Sci-Fi': 980,
 'Thriller': 1894,
 'War': 382,
 'Western': 167}


plotar o grafico de aparições por genero